body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;

}


#p5-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.content {
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    z-index: 1;
}

.custom-head{
    background-color: white;
    z-index: 1;
    padding-top: 2%;
    padding-bottom: 2%;
}

.custom-meInfo {
    text-align: center;
    padding-top: 15px;
}

.custom-icons {
    margin-bottom: 10px;
}

.icons {
    max-width: 25px;
    max-height: 25px;
    width: 25px;
    height: 25px;
}

.custom-welcomeDiv {
    width: auto;
}
.img-fluid{
    border: solid 2px black;
    border-radius: 5px;
}
.custom-meIntro {
    margin-top: 25%;
    text-align: center;
}

.custom-introDiv {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.icon{
    font-size: 2rem;
    color: black;
}