body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;

}


#p5-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
}

.custom-head{
    background-color: white;
    z-index: 1;
    padding-top: 2%;
    padding-bottom: 2%;
}

.custom-meInfo {
    background-color: white;
    border: solid 5px black;
    border-radius: 5px;
    text-align: center;
    padding-top: 15px;
}

.custom-icons {
    margin-bottom: 10px;
}

.icons {
    max-width: 25px;
    max-height: 25px;
    width: 25px;
    height: 25px;
}

.custom-welcomeDiv {
    width: auto;
}
.img-fluid{
    border: solid 2px black;
    border-radius: 5px;
}
.custom-meIntro {
    text-align: center;
}

.custom-introDiv {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.icon{
    font-size: 2rem;
    color: black;
    margin: 5px;
}

.iconsBox {
    background-color: white;
    width: auto;
    border: 5px solid black;
    border-radius: 5px;
}

.swansUniInfo{
    background-color: white;
    border: 5px solid green;
    border-radius: 5px;
}

.swansUniInfo h2, .cityUInfo h2 {
    margin: 2px;
}

.cityUInfo{
    background-color: white;
    border: 5px solid purple;
    border-radius: 5px;
    margin-top: 20px;
}