.card {
    margin: 35px;
    border: solid 5px black;
    border-radius: 5px;
    height: auto;
}

.card-header,
.card-footer {
    background-color: white;
}

.card-body {
    background-color: grey;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
    margin: auto;
}
